*{
margin: 0px;
padding: 0px;
scroll-behavior: smooth;
}

#navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0px;
overflow: hidden;
    /* padding:7px 0px; */
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhaijaan 2', cursive;
    padding:7px;
    padding-left: 250px;
}

#navbar ul li{
 list-style:none;
 font-size: 1.3rem;
 /* padding-left: 60px; */
}

#navbar ul li a{
    display: block;
    color: white;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
   }

   #navbar ul li a:hover{
    color: black;
    background-color: white;
    transition: 0.5s;
   }

   #home{
       display: flex;
       flex-direction: column;
       position: relative;
       height: 600px;
       padding: 3px 200px;
       justify-content: center;
       align-items: center;
       z-index: -1;
   }

   #home::before{
    content: "";
    background: url("img/pexels-pixabay-414645.jpg") no-repeat center center/cover;
    filter: brightness(60%);
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

.container{
    margin-bottom: -80px;
}

#img_about{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    bottom: 238px;
    left: 1082px;
    padding: 1px;
    width: 18vw;
    height: 51vh;
    z-index: -2;
}

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    color: black;
}


#about_me::before{
  content: "";
  background: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?cs=srgb&dl=pexels-ovan-62693.jpg&fm=jpg) no-repeat center center/cover;
  position: absolute;
  top: 605px;
  height: 89%;
  width: 100%;
  z-index: -1;
}


section p{
    line-height: 30px;
    align-items:left;
}


.h-secondary{
    font-size: 2.8rem;
    padding: 12px;
    
}

#eateries{
    margin: 34px;
    display: flex;

}
#eateries .box{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background-color:ghostwhite;
}

#eateries-container .box img{
    height: 150px;
    display: block; 
    margin: auto;
}

.center{
    text-align: center;
    
    text-decoration:black;
}


#login{
    margin-left: 350px;
}

.login_form{
    position: relative;
    bottom: 1550px;
    left: 550px;
    background-color: white;
    display: inline-flex;
    padding: 50px 50px;
    /* border-style: outset; */
    border-radius: 20px;
    border-style: solid;
    border-color: aliceblue;
    z-index: 1;
}


.names{
    display: inline;
    font-family: 'Bree Serif', serif;
    font-size: larger;
}

#email_id_login{
    margin-left: 45px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid silver;
}

#pass_login{
    margin-left: 10px;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid silver;
}

#email_student_signup{
    margin-left: 85px;
}

#name_student_signup{
    margin-left: 85px;
}

#reg_student_signup{
    margin-left: 21px;
}

#newpass_student_signup{
    margin-left: 28px;
}

#confpass_student_signup{
    margin-left: 4px;
}

#phone_student_signup{
    margin-left: 58px;
}

#login_button,.signup_button{
    position: relative;
    display: block;
    left: 70px;
    padding: 5px;
    border-radius: 5px;
    border-style:solid;
    cursor: pointer;
}

#icon{
    position: relative;
    left: 310px;
    top: -50px;
    display: block;
    width: 30px;
    height: 30px;
}

#signup_form_student_id{
    position: relative;
    left: 700px;
    opacity: 0;
    background-color: rgb(219, 213, 213);
    display: inline-flex;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
}

.contact-section{
    background: url(img/bg.png) no-repeat center;
    background-size: cover;
    padding: 40px 0;
    margin-top: 20px;
  }
  .contact-section h1{
    text-align: center;
    color: white;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
    /* margin-left: 200px;
    margin-top: 10px; */
  }

  .border_aboutus{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
    margin-left: 140px;
    margin-top: 10px;
  }

  .contact_us{
    margin-left: 50px;
    margin-top: 50px;
    font-size: 3.8rem;
  }
  
  .contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
  }
  
  .contact-form-text{
    display: block;
    width: 100%;
    /* box-sizing: border-box; */
    margin: 16px 0;
    border: 0;
    background: white;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    /* transition: 0.5s; */
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px #458842;
    transition: 0.3s;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
  }
  .contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact-form-btn:hover{
    background: #2980b9;
  }

  /*-------------------------- footer---------------------------------- */
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
/* --------------------------- */




/*
ul{
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    top: -430px;
    padding-top: 15px;
    padding-bottom: 15px; 
}

ul a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    padding: 10px 1px 10px 1px;
    
}

ul a:hover{
      color:black;
      background-color: white;
      border-radius: 5px;
}






.signup_vendor_form{
    position: relative;
    left: 378px;
    background-color: rgb(219, 213, 213);
    display: inline-flex;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
}

.signup_options{
    position: relative;
    left: 780px;
    background-color: rgb(219, 213, 213);
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    border-style: outset;
    border-radius: 10px;
}

 */